<div class="hero">
    <br />
    <div class="frosty text-center">
        <br />
        <h1>LEARN SOMETHING NEW.</h1>
        <br />
        <h2>Choose from hundreds of skills and classes.</h2>
        <br />
        <%= link_to 'Learn More', '#', class: 'btn btn-info' %>
        <br /><br />
    </div>
</div>


<div class="booyah-box">
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Gain a skillset.</h3>
        <br />
        <p>Choose from any number of courses to study with teachers in the field.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Slow your roll.</h3>
        <br />
        <p>Learn at your own pace by gaining access to an archive of lessons.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Network.</h3>
        <br />
        <p>Learn with a community of real people with similar goals.</p>
    </div>
</div>
</div>