<div class="hero">
    <br />
    <div class="frosty text-center">
        <br />
        <h1>LEARN + TEACH.</h1>
        <br />
        <h2>Choose from hundreds of classes, or teach a class. Or both!</h2>
        <br />
        <%= link_to 'Learn More', courses_path, class: 'btn btn-light btn-lg' %>
        <br /><br />
    </div>
</div>


<div class="booyah-box">
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Gain a skillset.</h3>
        <br />
        <p>Choose from any number of courses to study with teachers in the field.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Share your skills.</h3>
        <br />
        <p>Teach your expertise on an intuitive and cohesive platform.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Network.</h3>
        <br />
        <p>Learn with a community of real people with similar goals.</p>
    </div>
</div>
</div>