.navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
  }

  .navbar-light a.navbar-brand {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 300;
    color: pink;
  }